<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssafy.retrofit_2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.ssafy.retrofit_2.common.config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Retrofit_2">
        <activity
            android:name=".coroutine_version.src.CoroutineVersionActivity"
            android:exported="true" />
        <activity
            android:name=".callback_version.src.CallbackVersionActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>